In [15]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [5]:
order = pd.read_csv("C:/Users/C5295630/Documents/DataScience/Assignment/Hypothesis Testing/Costomer+OrderForm.csv")
order

,Phillippines,Indonesia,Malta,India,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Error Free,Error Free,Defective,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Error Free,Error Free,Error Free,Defective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Error Free,Defective,Defective,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Error Free,Error Free,Error Free,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Error Free,Error Free,Defective,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
295,Error Free,Error Free,Error Free,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Error Free,Error Free,Error Free,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Error Free,Error Free,Defective,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Error Free,Error Free,Error Free,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Error Free,Defective,Defective,Error Free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
iris= datasets.load_iris()

In [20]:
data = ([271,267,269,280],[29,33,31,20])
data

([271, 267, 269, 280], [29, 33, 31, 20])

In [22]:
from scipy.stats import chi2_contingency

In [24]:
chisquare_result = chi2_contingency(data)
chisquare_result

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))